

/* ANIMATIONS PAGE RESTAURANTS */


@keyframes appearGroup {
    0% {
        opacity: 0;
    }

    25% {
        transform: translateX(-200px);
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
    }
}
