.body_container_restaurant {
    display: flex;
    flex-direction: column;

    @media (min-width: 1440px) {

        max-width: 1440px;
        margin: auto;
    }
}

.nav_logo {

    &_go_back {
        position: absolute;
        left: 10px;
    }
}

.image_container {
    height: 275px;
}

.image_container img {
    height: 275px;
    width: 100%;
    object-fit: cover;

    @media (min-width: 1440px) {

        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}

.menu_container {
    background: $background;
    z-index: 1;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: -40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @media (min-width: 1024px) {

        margin: auto; // fixer la largeur de menu_container pour garder de la cohérence
        width: 1055px;
        margin-top: -40px;
    }

    .menu_title_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        padding: 0 17px;
        position: relative;

        .heart_logo,
        .heart_filled {
            position: absolute;
            top: 37%;
            right: 4%;
        }
    }

    .menu_title {
        font-size: $menu-title-font-size;
        font-family: $menu-title-font-family;
        font-style: $menu-title-font-style;
        font-weight: $menu-title-font-weight;
        line-height: $menu-title-line-height;
        color: $menu-title-color;
    }
}

.group_container {

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 15px;
    padding-right: 15px;

    &_title {
        font-size: $group-title-font-size;
        font-family: $group-tite-font-family;
        font-style: $group-title-font-style;
        font-weight: $group-title-font-weight;
        line-height: $group-title-line-height;
        color: $group-title-color;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 3px;

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
            border-bottom: $ter 3px solid;
            width: 40px;
        }
    }

    &_cards {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

}


.group_one {
    animation-delay: 0s;
    animation: appearGroupOne ease-out 600ms forwards;
}

.group_two {
    animation-delay: 300ms;
    animation: appearGroupOne ease-out 900ms forwards;
}

.group_three {
    animation-delay: 600ms;
    animation: appearGroupOne ease-out 1200ms forwards;
}

.label_checkbox_selected {

    width: 100%;
    display: flex;
    justify-content: center;
}

.group_container_card {
    width: 90%;
    height: 4.625rem;
    /*74px*/
    box-sizing: border-box;
    min-width: 18.125rem;
    /*290px*/
    max-width: 26rem;
    /*416px*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
    border-radius: 15px;
    background-color: $white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    overflow: hidden; // permet à selected_label de ne pas dépasser de la card

    @media (min-width: 1024px) {

        max-width: 550px;
    }

    .group_container_header {

        display: inline-block;
        flex-direction: column;
        gap: 5px;
        overflow: hidden;

        &_title {
            font-size: $menu-card-title-font-size;
            font-family: $menu-card-title-font-family;
            font-style: $menu-card-title-font-style;
            font-weight: $menu-card-title-font-weight;
            line-height: $menu-card-title-line-height;
            color: $menu-card-title-color;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &_text {
            font-size: $menu-card-text-font-size;
            font-family: $menu-card-text-font-family;
            font-style: $menu-card-text-font-style;
            font-weight: $menu-card-text-font-weight;
            line-height: $menu-card-text-line-height;
            color: $menu-card-text-color;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.group_container_card_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    gap: 15px;

    .group_container_card_price {
        font-size: $menu-card-price-font-size;
        font-family: $menu-card-price-font-family;
        font-style: $menu-card-price-font-style;
        font-weight: $menu-card-price-font-weight;
        line-height: $menu-card-price-line-height;
        color: $menu-card-price-color;
        justify-content: flex-end;

        @media (min-width: 1024px) {

            transition: all 400ms ease-in-out;
        }
    }

    .selected_container {
        margin-right: -74px;

        @media (min-width: 1024px) {

            transition: all 400ms ease-in-out;
        }

        .selected_label {
            height: 4.875rem;
            /*78px*/
            width: 3.688rem;
            /*59px*/
            object-fit: cover;
        }
    }
}

.btn_container {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY RESPONSIVE DESKTOP */

/* animation du desktop uniquement au survol de la souris */
.group_container_card {
    max-width: 550px;

    &_price {
        transition: all 400ms ease-in-out;
    }

    .selected_container {
        transition: all 400ms ease-in-out;
    }

    &:hover .selected_container {
        margin-right: -15px;
    }
}

/* ANIMATION APPARITION DES GROUPES */

@keyframes appearGroupOne {
    0% {
        opacity: 0;
    }

    25% {
        transform: translateX(-200px);
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
    }
}

/* animation apparition de selected_container checked (checkbox hack) */

.selected_container {
    transition: all 400ms ease-in-out;
}

#selection_card_1:checked~.label_checkbox_selected .card_one .selected_container {
    margin-right: -15px;
}

#selection_card_2:checked~.label_checkbox_selected .card_two .selected_container {
    margin-right: -15px;
}

#selection_card_3:checked~.label_checkbox_selected .card_three .selected_container {
    margin-right: -15px;
}

#selection_card_4:checked~.label_checkbox_selected .card_four .selected_container {
    margin-right: -15px;
}

#selection_card_5:checked~.label_checkbox_selected .card_five .selected_container {
    margin-right: -15px;
}

#selection_card_6:checked~.label_checkbox_selected .card_six .selected_container {
    margin-right: -15px;
}

#selection_card_7:checked~.label_checkbox_selected .card_seven .selected_container {
    margin-right: -15px;
}

#selection_card_8:checked~.label_checkbox_selected .card_eight .selected_container {
    margin-right: -15px;
}

#selection_card_9:checked~.label_checkbox_selected .card_nine .selected_container {
    margin-right: -15px;
}

#selection_card_x:checked~.label_checkbox_selected .card_x .selected_container {
    margin-right: -15px;
}

.hide_checkbox {
    position: absolute;
    left: -9999px;
}

