    /* COLORS /////////////////////////////////////////*/
  
    $prim:#9356DC;
    $sec:#FF79DA;
    $ter:#99E2D0;

    
    $green-font:#008766;
    $background:#F6F6F6;
    $light-grey:#EAEAEA;
    $mid-grey:#7E7E7E;
    $dark-grey:#353535;
    $light-blue:#89C8FA;
    $dark-blue:#003A68;
    $black:#000000;
    $white:#FFFFFF;
  
    /* FONTS ACCUEIL //////////////////////////////////////*/
  
    /* logo */
  
    $logo-font-size:1.875rem; /*30px*/
    $logo-font-family:'Shrikhand', cursive;
    $logo-font-style:normal;
    $logo-font-weight:400;
    $logo-line-height:normal;
    $logo-color: $black;
  
    /* button */
  
    $button-font-size:1rem; /*16px*/
    $button-font-family:'Roboto', sans-serif;
    $button-font-style:normal;
    $button-font-weight:500;
    $button-line-height:normal;
    $button-color: $black;
  
    /* main-title */
  
    $main-title-font-size:1.5rem; /*24px*/
    $main-title-font-family:'Roboto', sans-serif;
    $main-title-font-style:normal;
    $main-title-font-weight:700;
    $main-title-line-height:normal;
    $button-color: $black;
  
    /* motto */
  
    $motto-font-size:1.125rem; /*18px*/
    $motto-font-family:'Roboto', sans-serif;
    $motto-font-style:normal;
    $motto-font-weight:300;
    $motto-line-height:normal;
    $motto-color: $black;
  
    /* label */
  
    $label-font-size:0.875rem; /*14px*/
    $label-font-family:'Roboto', sans-serif;
    $label-font-style:normal;
    $label-font-weight:500;
    $label-line-height:normal;
    $label-color: $green-font;
  
    /* card-title */
  
    $card-title-font-size:1.125rem; /*18px*/
    $card-title-font-family:'Roboto', sans-serif;
    $card-title-font-style:normal;
    $card-title-font-weight:700;
    $card-title-line-height:normal;
    $card-title-color: $black;
  
    /* card-text */
  
    $card-text-font-size:1.063rem; /*17px*/
    $card-text-font-family:'Roboto', sans-serif;
    $card-text-font-style:normal;
    $card-text-font-weight:300;
    $card-text-line-height:normal;
    $card-text-color:$black;
  
    /* footer-title */
  
    $footer-title-font-size:1.125rem; /*18px*/
    $footer-title-font-family:'Shrikhand', cursive;
    $footer-title-font-style:normal;
    $footer-title-font-weight:400;
    $footer-title-line-height:normal;
    $footer-title-color:$black;
  
    /* footer-text */
  
    $footer-text-font-size:1rem; /*16px*/
    $footer-text-font-family:'Roboto', sans-serif;
    $footer-text-font-style:normal;
    $footer-text-font-weight:500;
    $footer-text-line-height:normal;
    $footer-text-color:$black;
  


    /* FONTS RESTAURANTS */


       /* menu title */

       $menu-title-font-size: 1.75rem; /*28px*/
       $menu-title-font-family: 'Shrikhand', cursive;
       $menu-title-font-style: normal;
       $menu-title-font-weight: 400;
       $menu-title-line-height: normal;
       $menu-title-color: $black;

       /* group title */

       $group-title-font-size: 16px;
       $group-tite-font-family: 'Roboto', sans-serif;
       $group-title-font-style: normal;
       $group-title-font-weight: 300;
       $group-title-line-height: normal;
       $group-title-color: $black;

        /* menu card title */
  
        $menu-card-title-font-size:1.125rem; /*18px*/
        $menu-card-title-font-family:'Roboto', sans-serif;
        $menu-card-title-font-style:normal;
        $menu-card-title-font-weight:500;
        $menu-card-title-line-height:normal;
        $menu-card-title-color: $black;

        /* menu card text */

        $menu-card-text-font-size:0.94rem; /*15px*/
        $menu-card-text-font-family:'Roboto', sans-serif;
        $menu-card-text-font-style:normal;
        $menu-card-text-font-weight:300;
        $menu-card-text-line-height:normal;
        $menu-card-text-color: $black;

        /* menu card price */

        $menu-card-price-font-size: 0.94rem; /*15px*/;
        $menu-card-price-font-family:'Roboto', sans-serif;
        $menu-card-price-font-style: normal; 
        $menu-card-price-font-weight: 700;
        $menu-card-price-line-height: normal;
        $menu-card-price-color: #353535;


  /* END /////////////////////////////////////////////////*/