  /* FOOTER */

  .footer {
    display: flex;
    flex-direction: column;
    background: $dark-grey;
    padding: 22px 25px;
    gap: 16px;

    @media (min-width: 768px) {

        align-items: center;
      }

    @media (min-width: 1024px) {

      flex-direction: row-reverse;
    }

    &_title {
      font-size: $footer-title-font-size;
      font-family: $footer-title-font-family;
      font-weight: $footer-title-font-weight;
      font-style: $footer-title-font-style;
      line-height: $footer-title-line-height;
      color: $white;
    }

    &_container {
      display: flex;
      flex-direction: column;
      gap: 7px;

      @media (min-width: 1024px) {

        flex-direction: row;
      }
    }

    &_link_container {
      display: flex;
      gap: 11px;

      @media (min-width: 1024px) {

        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
      }
    }

    &_text {
      font-size: $footer-text-font-size;
      font-family: $footer-text-font-family;
      font-weight: $footer-text-font-weight;
      font-style: $footer-text-font-style;
      line-height: $footer-text-line-height;
      color: $white;
    }

    &_text a {
      color: $white;
    }
  }

